/* p{


color: yellow;
background-color: blue;
text-align: center;
font-size: 25px;
}
#jk1{
color:blue;
background-color: yellow;     
}    */
/* h1{
color: blueviolet;
} */

 /* .jkc1
 {
text-align: center;
color: yellow;
background-color: blue;
font-size: 25px;
height: 300px;
width: 300px;
padding: 5px;
border: 1px;
margin: 5px;
 align-content: center;
 } */

 /* .box{

    font-size: 20px;
    height: 200px;
    width: 200px;
    text-align: center;
    align-content: center;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    
 }

 #box1 {
    color: black;
    background-color: red;
   
 }
 
 #box2 {
    color: black;
    background-color: yellow;
   
 }
 
 #box3 {
    color: black;
    background-color: green;
    
 }
 
 #box4 {
    color: black;
    background-color: brown;
    
 } */
/* 
 body {
    font-family: Arial;
    background-color: white;
    text-align: center;
    align-content: center;
    border: 10px solid black;
    margin: 20px;
}

h1 {
    text-align: left;
    color: black;
    ;
}

.outer-box {
    background-color: white;
    border: 1px;
    width: 300px;
    height: 200px;
    padding: 20px;
    margin: 20px;
}

.inner-box {
    background-color: blue;
    border: 1px solid black;
    color: yellow;
    padding: 20px;
    font-weight: bold;
}

.inner-content {
    background-color: yellow;
    color: black;
    padding: 10px;
    margin: 10px;
} */

/* h2 {
   font-size: 25px;
   border: ;
}
.heading {
   background-color: lightblue;
   padding: 10px;
   font-size: 35px;
}
.information {
   background-color: lightgreen;
   padding: 10px;
   font-size: 20px;
} */


/* 


.container {
    width: 80%;
    margin: 40px auto;
    background: #e6d5df;
    padding: 25px;
    border: 1px solid #c8b2bf;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.img-box {
    float: left;         
    width: 200px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.img-box img {
    width: 100%;
    display: block;
}

.text {
    font-size: 16px;
    line-height: 1.6;
}

.clear {
    clear: both;          
    font-weight: bold;
    margin-top: 20px;
} */



.container{
   display: flex;
   height: 600px;
   width: 800px;
   background-color: aqua;
   border: 1px solid black;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   /* column-gap: ; 
    row-gap: ; */
   /* flex-direction: column; */
}

.item{
    height: 200px;
width: 200px;
background-color: white;
border: 1px solid black;
flex-grow: 1;
}
.item3{
    order: -1;
    flex-grow: 2;
    flex-shrink: 1;
}